
  body {
    margin: 0;
    padding: 0;
    background-color: #000000; /* Fondo completamente negro */
    overflow: hidden; /* Oculta las barras de desplazamiento */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  canvas.emscripten {
    border: none;
    outline: none;
    background-color: black;
    /* Esto adapta el juego a la pantalla sin deformarlo */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
  }

  /* Oculta los textos, consola y logos de carga por defecto de love.js */
  .spinner, figure, div.emscripten {
    display: none !important; 
  }
